In [1]:
import time
import sys
sys.path.insert(0, '../..')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from scipy.spatial import distance_matrix

In [2]:
duration = 300
filename = "eil51_json_array.txt"

exec(open("../2opt_script_final.py").read())

What's the limit of execution time?:  300
Write the name of data.(i.e: eil51_json_array.txt):  eil51_json_array.txt
The Route is :  [0, 21, 30, 27, 2, 35, 34, 19, 28, 20, 33, 29, 9, 38, 32, 44, 14, 43, 41, 18, 39, 40, 12, 17, 3, 16, 36, 11, 46, 50, 45, 10, 37, 4, 48, 8, 49, 15, 1, 31, 26, 5, 13, 24, 23, 42, 22, 6, 25, 7, 47, 0]
Total execution time is:  4.312986850738525  seconds
Total distance is :  487

In [5]:
print(route)
print(duration2)
print(best_distance)

[0, 21, 30, 27, 2, 35, 34, 19, 28, 20, 33, 29, 9, 38, 32, 44, 14, 43, 41, 18, 39, 40, 12, 17, 3, 16, 36, 11, 46, 50, 45, 10, 37, 4, 48, 8, 49, 15, 1, 31, 26, 5, 13, 24, 23, 42, 22, 6, 25, 7, 47, 0]
4.312986850738525
487

In [2]:
import glob
data_set_name_list = glob.glob("./*.txt")
for i in range(len(data_set_name_list)):
    data_set_name_list[i] = data_set_name_list[i].replace(".\\","")
data_set_name_list[5]

'd1291_json_array.txt'

In [3]:
# first 10 data
len(data_set_name_list)

73

In [4]:
name_list = []
route_list = []
duration_list = []
total_distance_list = []
for i in data_set_name_list:
    filename = i
    duration = 300
    exec(open("../2opt_script_final.py").read())
    name_list.append(filename)
    route_list.append(route)
    duration_list.append(duration2)
    total_distance_list.append(best_distance)
    print("Data set is done: ",filename)

Total execution time is:  300.0111413002014  seconds
Total distance is :  3021
Data set is done:  a280_json_array.txt
Total execution time is:  2.528792142868042  seconds
Total distance is :  7811
Data set is done:  berlin52_json_array.txt
Total execution time is:  50.1302125453949  seconds
Total distance is :  136142
Data set is done:  bier127_json_array.txt
Total execution time is:  48.81364893913269  seconds
Total distance is :  6512
Data set is done:  ch130_json_array.txt
Total execution time is:  89.26335000991821  seconds
Total distance is :  7513
Data set is done:  ch150_json_array.txt
Total execution time is:  300.0161290168762  seconds
Total distance is :  151821
Data set is done:  d1291_json_array.txt
Total execution time is:  300.03406739234924  seconds
Total distance is :  206466
Data set is done:  d1655_json_array.txt
Total execution time is:  171.89658331871033  seconds
Total distance is :  16701
Data set is done:  d198_json_array.txt
Total execution time is:  300.03207063674927  seconds
Total distance is :  142092
Data set is done:  d2103_json_array.txt
Total execution time is:  300.00762915611267  seconds
Total distance is :  75969
Data set is done:  d493_json_array.txt
Total execution time is:  300.0136170387268  seconds
Total distance is :  218111
Data set is done:  d657_json_array.txt
Total execution time is:  20.79679584503174  seconds
Total distance is :  769
Data set is done:  eil101_json_array.txt
Total execution time is:  4.804555654525757  seconds
Total distance is :  487
Data set is done:  eil51_json_array.txt
Total execution time is:  11.115306615829468  seconds
Total distance is :  662
Data set is done:  eil76_json_array.txt
Total execution time is:  300.02809262275696  seconds
Total distance is :  147286
Data set is done:  fl1400_json_array.txt
Total execution time is:  300.02410793304443  seconds
Total distance is :  46058
Data set is done:  fl1577_json_array.txt
Total execution time is:  300.07600259780884  seconds
Total distance is :  158636
Data set is done:  fl3785_json_array.txt
Total execution time is:  300.00811648368835  seconds
Total distance is :  23203
Data set is done:  fl417_json_array.txt
Total execution time is:  300.0880072116852  seconds
Total distance is :  3166167
Data set is done:  fnl4461_json_array.txt
Total execution time is:  300.0051357746124  seconds
Total distance is :  2848
Data set is done:  gil262_json_array.txt
Total execution time is:  25.746076107025146  seconds
Total distance is :  22977
Data set is done:  kroA100_json_array.txt
Total execution time is:  85.40953803062439  seconds
Total distance is :  27991
Data set is done:  kroA150_json_array.txt
Total execution time is:  243.8117220401764  seconds
Total distance is :  33970
Data set is done:  kroA200_json_array.txt
Total execution time is:  25.073325634002686  seconds
Total distance is :  23178
Data set is done:  kroB100_json_array.txt
Total execution time is:  102.44582891464233  seconds
Total distance is :  28944
Data set is done:  kroB150_json_array.txt
Total execution time is:  206.37340879440308  seconds
Total distance is :  33489
Data set is done:  kroB200_json_array.txt
Total execution time is:  29.946773052215576  seconds
Total distance is :  22365
Data set is done:  kroC100_json_array.txt
Total execution time is:  35.80885601043701  seconds
Total distance is :  22953
Data set is done:  kroD100_json_array.txt
Total execution time is:  26.869492292404175  seconds
Total distance is :  23538
Data set is done:  kroE100_json_array.txt
Total execution time is:  24.419562578201294  seconds
Total distance is :  16264
Data set is done:  lin105_json_array.txt
Total execution time is:  300.0061330795288  seconds
Total distance is :  55040
Data set is done:  lin318_json_array.txt
Total execution time is:  300.0300898551941  seconds
Total distance is :  242072
Data set is done:  nrw1379_json_array.txt
Total execution time is:  300.0096323490143  seconds
Total distance is :  93067
Data set is done:  p654_json_array.txt
Total execution time is:  300.0191044807434  seconds
Total distance is :  122375
Data set is done:  pcb1173_json_array.txt
Total execution time is:  300.05754041671753  seconds
Total distance is :  298337
Data set is done:  pcb3038_json_array.txt
Total execution time is:  300.0096242427826  seconds
Total distance is :  94293
Data set is done:  pcb442_json_array.txt
Total execution time is:  300.0146279335022  seconds
Total distance is :  349788
Data set is done:  pr1002_json_array.txt
Total execution time is:  31.813289642333984  seconds
Total distance is :  46597
Data set is done:  pr107_json_array.txt
Total execution time is:  39.38769745826721  seconds
Total distance is :  61703
Data set is done:  pr124_json_array.txt
Total execution time is:  91.59900116920471  seconds
Total distance is :  104848
Data set is done:  pr136_json_array.txt
Total execution time is:  61.81195616722107  seconds
Total distance is :  62516
Data set is done:  pr144_json_array.txt
Total execution time is:  72.3333580493927  seconds
Total distance is :  77479
Data set is done:  pr152_json_array.txt
Total execution time is:  180.27050018310547  seconds
Total distance is :  85515
Data set is done:  pr226_json_array.txt
Total execution time is:  300.045601606369  seconds
Total distance is :  379946
Data set is done:  pr2392_json_array.txt
Total execution time is:  300.00564551353455  seconds
Total distance is :  59964
Data set is done:  pr264_json_array.txt
Total execution time is:  300.00664377212524  seconds
Total distance is :  55039
Data set is done:  pr299_json_array.txt
Total execution time is:  300.00762009620667  seconds
Total distance is :  140386
Data set is done:  pr439_json_array.txt
Total execution time is:  11.556992053985596  seconds
Total distance is :  125327
Data set is done:  pr76_json_array.txt
Total execution time is:  154.0782346725464  seconds
Total distance is :  2740
Data set is done:  rat195_json_array.txt
Total execution time is:  300.0096266269684  seconds
Total distance is :  12285
Data set is done:  rat575_json_array.txt
Total execution time is:  300.0111083984375  seconds
Total distance is :  41826
Data set is done:  rat783_json_array.txt
Total execution time is:  29.098342418670654  seconds
Total distance is :  1403
Data set is done:  rat99_json_array.txt
Total execution time is:  26.927393913269043  seconds
Total distance is :  8550
Data set is done:  rd100_json_array.txt
Total execution time is:  300.0061340332031  seconds
Total distance is :  24417
Data set is done:  rd400_json_array.txt
Total execution time is:  300.1389091014862  seconds
Total distance is :  82335466
Data set is done:  rl11849_json_array.txt
Total execution time is:  300.0216164588928  seconds
Total distance is :  2721272
Data set is done:  rl1304_json_array.txt
Total execution time is:  300.0210978984833  seconds
Total distance is :  2923214
Data set is done:  rl1323_json_array.txt
Total execution time is:  300.029093503952  seconds
Total distance is :  6544071
Data set is done:  rl1889_json_array.txt
Total execution time is:  300.1304244995117  seconds
Total distance is :  9967979
Data set is done:  rl5915_json_array.txt
Total execution time is:  300.0944833755493  seconds
Total distance is :  9833417
Data set is done:  rl5934_json_array.txt
Total execution time is:  300.0036292076111  seconds
Total distance is :  143417
Data set is done:  ts225_json_array.txt
Total execution time is:  251.43804240226746  seconds
Total distance is :  4394
Data set is done:  tsp225_json_array.txt
Total execution time is:  300.0141191482544  seconds
Total distance is :  260630
Data set is done:  u1060_json_array.txt
Total execution time is:  300.02857756614685  seconds
Total distance is :  184137
Data set is done:  u1432_json_array.txt
Total execution time is:  35.5408661365509  seconds
Total distance is :  43100
Data set is done:  u159_json_array.txt
Total execution time is:  300.02409839630127  seconds
Total distance is :  72828
Data set is done:  u1817_json_array.txt
Total execution time is:  300.03408193588257  seconds
Total distance is :  83188
Data set is done:  u2152_json_array.txt
Total execution time is:  300.0270891189575  seconds
Total distance is :  283638
Data set is done:  u2319_json_array.txt

Total execution time is:  300.00713086128235  seconds
Total distance is :  40195
Data set is done:  u574_json_array.txt
Total execution time is:  300.0111403465271  seconds
Total distance is :  133535
Data set is done:  u724_json_array.txt
Total execution time is:  300.25017952919006  seconds
Total distance is :  1499798629
Data set is done:  usa13509_json_array.txt
Total execution time is:  300.0206069946289  seconds
Total distance is :  2942900
Data set is done:  vm1084_json_array.txt
Total execution time is:  300.0335819721222  seconds
Total distance is :  7365982
Data set is done:  vm1748_json_array.txt

In [5]:
# ALL 73 datasets optimum solutions respect to Heidelberg TSP 
# Datasets sorted Alphabetical like. a280  berlin52  bier127  ch130     etc....

optimum_solution_list = [2579,7542,118282,6110,6528,50801,62128,15780,80450,35002,48912,629,426,
538,20127,22249,28772,11861,182566,2378,21282,26524,29368,22141,26130,29437,20749,21294,22068,
14379,42029,56638,34643,56892,137694,50778,259045,44303,59030,96772,58537,73682,80369,378032,
49135,48191,107217,108159,2323,6773,8806,1211,7910,15281,923288,252948,270199,316536,565530,
556045,126643,3916,224094,152970,42080,57201,64253,234256,36905,41910,19982859,239297,336556 ]
len(optimum_solution_list)

73

In [6]:
name_list = sorted(name_list)

In [8]:
name_list[-5:]

['u574_json_array.txt',
 'u724_json_array.txt',
 'usa13509_json_array.txt',
 'vm1084_json_array.txt',
 'vm1748_json_array.txt']

In [9]:
number_of_cities = []
for i in route_list:
    number_of_cities.append(len(i))

In [42]:
result_table = {'Dataset Name':name_list,
                'Number of Cities':number_of_cities,
                'Optimum Distance':optimum_solution_list,
                '2-Opt Distance':total_distance_list,
                'Execution Time (Seconds)':duration_list,
                'Optimal Route':route_list}
# Optimal route according to the 2-opt algorithms.

In [43]:
result_df = pd.DataFrame(data=result_table)
result_df['Times bigger optimal'] = np.nan
for i in range(len(name_list)):
    result_df['Times bigger optimal'][i] = ((result_df['2-Opt Distance'][i]/result_df['Optimum Distance'][i]))

C:\Users\orhan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [44]:
result_df

,2-Opt Distance,Dataset Name,Execution Time (Seconds),Number of Cities,Optimal Route,Optimum Distance,Times bigger optimal
0,3021,a280_json_array.txt,300.011141,281,"[0, 1, 279, 2, 278, 277, 276, 275, 274, 273, 2...",2579,1.171384
1,7811,berlin52_json_array.txt,2.528792,53,"[0, 21, 17, 30, 22, 19, 49, 15, 28, 29, 1, 6, ...",7542,1.035667
2,136142,bier127_json_array.txt,50.130213,128,"[0, 13, 11, 30, 26, 25, 79, 78, 76, 73, 72, 66...",118282,1.150995
3,6512,ch130_json_array.txt,48.813649,131,"[0, 129, 2, 82, 89, 124, 84, 65, 77, 120, 58, ...",6110,1.065794
4,7513,ch150_json_array.txt,89.263350,151,"[0, 97, 102, 81, 94, 106, 4, 99, 142, 96, 145,...",6528,1.150888
5,151821,d1291_json_array.txt,300.016129,1292,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",50801,2.988544
6,206466,d1655_json_array.txt,300.034067,1656,"[0, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 65...",62128,3.323236
7,16701,d198_json_array.txt,171.896583,199,"[0, 1, 6, 5, 2, 3, 4, 7, 8, 9, 10, 11, 12, 40,...",15780,1.058365
8,142092,d2103_json_array.txt,300.032071,2104,"[0, 1, 6, 2102, 2101, 2100, 2099, 2098, 2097, ...",80450,1.766215
9,75969,d493_json_array.txt,300.007629,494,"[0, 2, 1, 3, 4, 5, 7, 6, 8, 9, 10, 11, 64, 20,...",35002,2.170419
10,218111,d657_json_array.txt,300.013617,658,"[0, 1, 2, 3, 4, 5, 6, 78, 141, 117, 131, 138, ...",48912,4.459253
11,769,eil101_json_array.txt,20.796796,102,"[0, 50, 8, 65, 64, 70, 34, 33, 77, 80, 32, 78,...",629,1.222576
12,487,eil51_json_array.txt,4.804556,52,"[0, 21, 30, 27, 2, 35, 34, 19, 28, 20, 33, 29,...",426,1.143192
13,662,eil76_json_array.txt,11.115307,77,"[0, 42, 40, 41, 63, 21, 60, 68, 70, 59, 69, 19...",538,1.230483
14,147286,fl1400_json_array.txt,300.028093,1401,"[0, 208, 143, 1399, 3, 1178, 995, 1082, 996, 1...",20127,7.317832
15,46058,fl1577_json_array.txt,300.024108,1578,"[0, 1363, 1229, 1230, 1231, 1232, 1233, 1234, ...",22249,2.070116
16,158636,fl3785_json_array.txt,300.076003,3796,"[0, 3595, 3596, 2549, 2550, 2867, 3175, 3176, ...",28772,5.513555
17,23203,fl417_json_array.txt,300.008116,418,"[0, 356, 153, 200, 176, 199, 175, 197, 173, 17...",11861,1.956243
18,3166167,fnl4461_json_array.txt,300.088007,4462,"[0, 4454, 4373, 4374, 4418, 4421, 4427, 4431, ...",182566,17.342588
19,2848,gil262_json_array.txt,300.005136,263,"[0, 138, 201, 230, 141, 67, 233, 253, 32, 71, ...",2378,1.197645
20,22977,kroA100_json_array.txt,25.746076,101,"[0, 62, 5, 48, 89, 9, 83, 35, 98, 37, 23, 17, ...",21282,1.079645
21,27991,kroA150_json_array.txt,85.409538,151,"[0, 129, 147, 141, 104, 66, 107, 57, 27, 92, 1...",26524,1.055308
22,33970,kroA200_json_array.txt,243.811722,201,"[0, 52, 114, 116, 110, 120, 173, 158, 23, 31, ...",29368,1.156701
23,23178,kroB100_json_array.txt,25.073326,101,"[0, 94, 97, 31, 58, 75, 28, 7, 98, 96, 90, 27,...",22141,1.046836
24,28944,kroB150_json_array.txt,102.445829,151,"[0, 52, 136, 23, 116, 31, 131, 141, 60, 25, 6,...",26130,1.107692
25,33489,kroB200_json_array.txt,206.373409,201,"[0, 89, 20, 122, 9, 67, 110, 116, 39, 189, 188...",29437,1.137650
26,22365,kroC100_json_array.txt,29.946773,101,"[0, 52, 39, 11, 45, 23, 31, 6, 81, 77, 8, 25, ...",20749,1.077883
27,22953,kroD100_json_array.txt,35.808856,101,"[0, 26, 23, 87, 12, 78, 40, 83, 72, 38, 14, 68...",21294,1.077909
28,23538,kroE100_json_array.txt,26.869492,101,"[0, 73, 6, 20, 50, 97, 58, 35, 27, 94, 31, 75,...",22068,1.066612
29,16264,lin105_json_array.txt,24.419563,106,"[0, 1, 5, 6, 9, 10, 14, 20, 21, 28, 102, 19, 2...",14379,1.131094
...,...,...,...,...,...,...,...
43,379946,pr2392_json_array.txt,300.045602,2393,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",378032,1.005063
44,59964,pr264_json_array.txt,300.005646,265,"[0, 39, 59, 60, 36, 37, 38, 33, 34, 35, 61, 62...",49135,1.220393
45,55039,pr299_json_array.txt,300.006644,300,"[0, 3, 2, 1, 5, 4, 6, 7, 8, 9, 10, 11, 12, 13,...",48191,1.142101
46,140386,pr439_json_array.txt,300.007620,440,"[0, 2, 1, 438, 434, 435, 436, 437, 433, 402, 4...",107217,1.309363
47,125327,pr76_json_array.txt,11.556992,77,"[0, 75, 74, 1, 7, 6, 5, 2, 3, 4, 9, 8, 12, 13,...",108159,1.158729
48,2740,rat195_json_array.txt,154.078235,196,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 25,...",2323,1.179509
49,12285,rat575_json_array.txt,300.009627,576,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 137, 160, 159, ...",6773,1.813820
50,41826,rat783_json_array.txt,300.011108,784,"[0, 14, 24, 778, 776, 767, 738, 684, 679, 659,...",8806,4.749716
51,1403,rat99_json_array.txt,29.098342,100,"[0, 9, 19, 18, 27, 36, 37, 28, 29, 20, 21, 30,...",1211,1.158547
52,8550,rd100_json_array.txt,26.927394,101,"[0, 17, 61, 86, 14, 62, 85, 96, 66, 12, 48, 20...",7910,1.080910
53,24417,rd400_json_array.txt,300.006134,401,"[0, 200, 8, 114, 221, 303, 255, 44, 160, 238, ...",15281,1.597867
54,82335466,rl11849_json_array.txt,300.138909,11850,"[0, 2770, 2769, 2768, 2767, 2766, 2765, 2764, ...",923288,89.176363
55,2721272,rl1304_json_array.txt,300.021616,1305,"[0, 1284, 1174, 1155, 576, 1154, 476, 1153, 12...",252948,10.758227
56,2923214,rl1323_json_array.txt,300.021098,1324,"[0, 1211, 288, 287, 335, 334, 333, 332, 2, 118...",270199,10.818745
57,6544071,rl1889_json_array.txt,300.029094,1890,"[0, 1856, 126, 845, 866, 56, 914, 592, 751, 12...",316536,20.674018
58,9967979,rl5915_json_array.txt,300.130424,5916,"[0, 5530, 5529, 5528, 5526, 5515, 5514, 5485, ...",565530,17.625907
59,9833417,rl5934_json_array.txt,300.094483,5935,"[0, 1946, 1945, 1944, 914, 913, 866, 865, 845,...",556045,17.684570
60,143417,ts225_json_array.txt,300.003629,226,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",126643,1.132451
61,4394,tsp225_json_array.txt,251.438042,226,"[0, 199, 197, 196, 5, 41, 42, 43, 44, 45, 194,...",3916,1.122063
62,260630,u1060_json_array.txt,300.014119,1061,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",224094,1.163039
63,184137,u1432_json_array.txt,300.028578,1433,"[0, 4, 3, 2, 5, 1, 6, 7, 8, 9, 10, 11, 12, 13,...",152970,1.203746
64,43100,u159_json_array.txt,35.540866,160,"[0, 2, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",42080,1.024240
65,72828,u1817_json_array.txt,300.024098,1818,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",57201,1.273195
66,83188,u2152_json_array.txt,300.034082,2153,"[0, 1, 2, 3, 2138, 2137, 2135, 2136, 2134, 213...",64253,1.294694
67,283638,u2319_json_array.txt,300.027089,2320,"[0, 1, 5, 3, 4, 2, 6, 7, 8, 9, 10, 11, 12, 13,...",234256,1.210804
68,40195,u574_json_array.txt,300.007131,575,"[0, 569, 568, 567, 566, 565, 564, 563, 562, 56...",36905,1.089148
69,133535,u724_json_array.txt,300.011140,725,"[0, 98, 90, 684, 80, 682, 673, 654, 611, 627, ...",41910,3.186232
70,1499798629,usa13509_json_array.txt,300.250180,13510,"[0, 2493, 2491, 2489, 2488, 2485, 2477, 2460, ...",19982859,75.054257
71,2942900,vm1084_json_array.txt,300.020607,1085,"[0, 1081, 1039, 1053, 776, 937, 1037, 934, 972...",239297,12.298107
72,7365982,vm1748_json_array.txt,300.033582,1749,"[0, 1740, 1131, 1609, 1526, 1619, 1615, 1676, ...",336556,21.886349

In [48]:
result_df.to_excel("./2_opt_results.xlsx",index=False)